body {
    background: rosybrown;
} 
header {
    position:relative;
    display:block;
    width: 100%;
    height:100%;
    margin:0 auto;
    margin-bottom: 1rem;
    padding:1rem 1rem 1rem;
    color:#fff;
    background: #fff;
    
}
header h1 {
    line-height: 30px;
    font-size: 2rem;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin: 0; 
    display: inline;
    background: #4aaaa5;
    color: #fff;
    padding: 15px;
    

}
nav {
    padding-left: 0;
    list-style: none;
    float: right;
    display: inline;
    
}

nav  li {
    position:relative;
    display:inline-block;
    list-style-type: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    padding:0 1rem;
}
nav li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
nav > li > a:hover,
nav > li > a:focus {
    text-decoration: none
}

.clearfix:after { 
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }

section {

    width: 960px;
    height: 100%;
    display: block;
    margin:0 auto;
    padding:1rem 1rem;
    border: 6px solid #dddddd;
    background: #fff;
   
}

section h1 {
    color:#4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    
    
}

section img {
    width: 200px;
    height: 200px;
    float: left;
}

p {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.image { 
    position: relative; 
    
 }
 
 h2 { 
    position: absolute; 
    top: 100px; 
    left: 0;
    font-size: 20px;
    text-align: center;
    background-color:#4aaaa5;
    width: 100; 
 }

form {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

input {
    width: 100%;
    
}

input[type=text]:focus {
    background-color: lightblue;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 5%;
}

textarea {
    width: 100%;
}

textarea[type="text"]:focus {
    background-color: lightblue;
}

footer {
    
    background-color: #666;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    border-top: 6px solid #4aaaa5;
    
}

footer p {
    text-align: center;
    color: #fff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-style: italic;
    font-size: .25cm;
   
}
